<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ning.web.mapper.YwAppApiEntityMapper">
  <resultMap id="BaseResultMap" type="com.ning.web.entity.YwAppApiEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="api_name" jdbcType="VARCHAR" property="apiName" />
    <result column="api_service_name" jdbcType="VARCHAR" property="apiServiceName" />
    <result column="protocol" jdbcType="VARCHAR" property="protocol" />
    <result column="host" jdbcType="VARCHAR" property="host" />
    <result column="port" jdbcType="VARCHAR" property="port" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="webroot" jdbcType="VARCHAR" property="webroot" />
    <result column="app_id" jdbcType="BIGINT" property="appId" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from yw_app_api
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ning.web.entity.YwAppApiEntity">
    insert into yw_app_api (id, api_name, api_service_name, 
      protocol, host, port, 
      method, webroot, app_id, 
      is_deleted, updated_time, created_time
      )
    values (#{id,jdbcType=BIGINT}, #{apiName,jdbcType=VARCHAR}, #{apiServiceName,jdbcType=VARCHAR}, 
      #{protocol,jdbcType=VARCHAR}, #{host,jdbcType=VARCHAR}, #{port,jdbcType=VARCHAR}, 
      #{method,jdbcType=VARCHAR}, #{webroot,jdbcType=VARCHAR}, #{appId,jdbcType=BIGINT}, 
      #{isDeleted,jdbcType=INTEGER}, #{updatedTime,jdbcType=TIMESTAMP}, #{createdTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ning.web.entity.YwAppApiEntity">
    update yw_app_api
    set api_name = #{apiName,jdbcType=VARCHAR},
      api_service_name = #{apiServiceName,jdbcType=VARCHAR},
      protocol = #{protocol,jdbcType=VARCHAR},
      host = #{host,jdbcType=VARCHAR},
      port = #{port,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      webroot = #{webroot,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=BIGINT},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, api_name, api_service_name, protocol, host, port, method, webroot, app_id, 
    is_deleted, updated_time, created_time
    from yw_app_api
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, api_name, api_service_name, protocol, host, port, method, webroot, app_id, 
    is_deleted, updated_time, created_time
    from yw_app_api
  </select>
</mapper>