<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ning.web.mapper.YwAppScriptEntityMapper">
  <resultMap id="BaseResultMap" type="com.ning.web.entity.YwAppScriptEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="enable_status" jdbcType="VARCHAR" property="enableStatus" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <result column="match_ip" jdbcType="VARCHAR" property="matchIp" />
    <result column="match_url" jdbcType="VARCHAR" property="matchUrl" />
    <result column="req_header" jdbcType="VARCHAR" property="reqHeader" />
    <result column="req_method" jdbcType="VARCHAR" property="reqMethod" />
    <result column="req_param" jdbcType="VARCHAR" property="reqParam" />
    <result column="resp_header" jdbcType="VARCHAR" property="respHeader" />
    <result column="body" jdbcType="VARCHAR" property="body" />
    <result column="style" jdbcType="VARCHAR" property="style" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from yw_app_script
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ning.web.entity.YwAppScriptEntity">
    insert into yw_app_script (id, name, enable_status, 
      describe, match_ip, match_url, 
      req_header, req_method, req_param, 
      resp_header, body, style, 
      content, is_deleted, updated_time, 
      created_time)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{enableStatus,jdbcType=VARCHAR}, 
      #{describe,jdbcType=VARCHAR}, #{matchIp,jdbcType=VARCHAR}, #{matchUrl,jdbcType=VARCHAR}, 
      #{reqHeader,jdbcType=VARCHAR}, #{reqMethod,jdbcType=VARCHAR}, #{reqParam,jdbcType=VARCHAR}, 
      #{respHeader,jdbcType=VARCHAR}, #{body,jdbcType=VARCHAR}, #{style,jdbcType=VARCHAR},
            #{address,jdbcType=VARCHAR},
      #{content,jdbcType=VARCHAR}, #{isDeleted,jdbcType=INTEGER}, #{updatedTime,jdbcType=TIMESTAMP}, 
      #{createdTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ning.web.entity.YwAppScriptEntity">
    update yw_app_script
    set name = #{name,jdbcType=VARCHAR},
      enable_status = #{enableStatus,jdbcType=VARCHAR},
      describe = #{describe,jdbcType=VARCHAR},
      match_ip = #{matchIp,jdbcType=VARCHAR},
      match_url = #{matchUrl,jdbcType=VARCHAR},
      req_header = #{reqHeader,jdbcType=VARCHAR},
      req_method = #{reqMethod,jdbcType=VARCHAR},
      req_param = #{reqParam,jdbcType=VARCHAR},
      resp_header = #{respHeader,jdbcType=VARCHAR},
      body = #{body,jdbcType=VARCHAR},
      style = #{style,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, name, enable_status, describe, match_ip, match_url, req_header, req_method, 
    req_param, resp_header, body, style, address, content, is_deleted, updated_time, created_time
    from yw_app_script
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, enable_status, describe, match_ip, match_url, req_header, req_method, 
    req_param, resp_header, body, style,address, content, is_deleted, updated_time, created_time
    from yw_app_script
  </select>
</mapper>